.task-preview-table td {
  width: 50% !important;
  padding: 5px !important;
}
.pac-container {
  z-index: 1099;
}
.guestsAccordions .guest-name {
  font-size: 18px;
  font-weight: bold;
  color: orange;
}
.guestsAccordions .guest-email {
  font-size: 15px;
  color: var(--bs-accordion-btn-color);
}
.guestsAccordions .guest-label {
  color: black;
  font-weight: bold;
}
